@import '~papercss/src/styles.scss';

.space {
  display: flex;
  align-items: center;
  margin-left: -1rem;
  margin-right: -1rem;
  > * {
    margin: 0 1rem;
  }

  &--large {
    margin-left: -1.714rem;
    margin-right: -1.714rem;
    > * {
      margin: 1.714rem;
    }
  }
}

.collapsible {
  &--active {
    .collapsible-body {
      max-height: none;
      padding: 0.75rem;
      opacity: 1
    }
  }
}

.tabs {
  label {
    &.active {
      color: #41403e;
      color: var(--primary);
      border-bottom-color: #41403e;
      border-bottom-color: var(--secondary);
      border-bottom-style: solid;
      border-bottom-width: 3px;
    }
  }
  .content {
    &.active {
      display: block;
    }
  }
}
